  
/* 
================ Default styles ================
*/

* {
    box-sizing: border-box;
    font-size: 20px;
    padding: 0;
    margin: 0;
    font-family: 'Baloo Tamma 2', cursive;
    background: #f7f5f5;
}

/* 
================ Navigation bar ================
*/

nav {
    width: 100%;
    /* border-bottom: 3px solid red; */
    text-align: center;
    margin-top: 0;
}

.title {
    font-family: 'Dancing Script', cursive;
    padding: 0.7em;
}

.nav_bar {
    width: 95%;
    margin: auto;
}

.menu_options {
    list-style: none;
    width: 100%;
    padding: 1em;
    margin-top: 0.5em;
    background-color: white;
    border-radius: 5px;
}

.menu_options a {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.menu_options:hover {
    background-color: aqua;
}

/* 
================ Header ================
*/

header {
    min-height: 200px;
    text-align: center;
    padding: 1em;
}

/* 
================ Main Portfolio section ================
*/

.main_title, .card, .card > * {
    background-color: white;
}

.main_title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 2em;
}

.card {
    padding: 2em;
    text-align: center;
}

.portfolio_img {
    width: 100%;
    height: 200px;
}

h3, p {
    margin-top: 20px;
}

/* 
================ Contact section ================
*/

.contact {
    text-align: center;
    padding: 1.5em;
}

address {
    font-style: normal;
}

.footer_nav {
    width: 100%;
    display: flex;
}

.nav_option {
    width: 50%;
    text-align: center;
    padding: 1em;
    font-weight: bold;
    border-top: 1px solid grey;
}

.nav_right {
    text-align: center;
    text-transform: uppercase;
}
