  
/* 
================ Default styles ================
*/

* {
    box-sizing: border-box;
    font-size: 20px;
    padding: 0;
    margin: 0;
    font-family: 'Baloo Tamma 2', cursive;
    background: #f7f5f5;
}

/* 
================ Navigation bar ================
*/

nav {
    width: 100%;
    text-align: center;
    margin-top: 0;
}

.title {
    font-family: 'Dancing Script', cursive;
    padding: 0.7em;
    color: dimgray;
}

.nav_bar {
    width: 95%;
    margin: auto;
}

.menu_options {
    list-style: none;
    width: 100%;
    padding: 0.5em;
    margin-top: 0.5em;
    background-color: white;
    border-radius: 5px;
}

.menu_options a {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.menu_options:hover {
    border-bottom: 3px solid aqua;
}

/* 
================ Header ================
*/

header {
    min-height: 250px;
    text-align: center;
    padding: 1em;
    overflow: hidden;
}

header > img {
    width: 100%;
}

.intro {
    margin-top: 0;
}

/* 
================ Main Portfolio section ================
*/


.main_title, .card, .card > * {
    background-color: white;
}

.main_title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 2em;
}

.card {
    padding: 1em;
    text-align: center;
}

.portfolio_img {
    width: 100%;
    height: 200px;
}

h3, p {
    margin-top: 20px;
}

/* 
================ Skills section ================
*/

.skills, .skills > .main_title {
    background-color: #f5eded;
}

.skills {
    padding-bottom: 0.5em;
}

.skill_block {
    background: #79acf2;
    color: white;
    padding: 0.5em;
    width: 60%;
    margin: auto;
    border-radius: 10px;
}

/* 
================ Contact section ================
*/

.contact {
    text-align: center;
    padding: 1.5em;
}

address {
    font-style: normal;
}

.footer_nav {
    width: 100%;
    display: flex;
}

.nav_option {
    width: 50%;
    text-align: center;
    padding: 1em;
    font-weight: bold;
    border-top: 1px solid grey;
    margin-top: 0;
}

.nav_right a {
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

.alternative {
    display: none;
}



/* 
================ Media Queries for tablet ================
*/

@media (min-width: 768px) {

    /* Top section */
    .nav_bar {
        display: flex;
        width: 50%;
    }
    header {
        text-align: left;
    }
    
    header > img {
        float: right;
        width: 50%;
    }

    .intro {
        width: 50%;
        padding: 0.5em;
        font-size: 23px;
    }

    .menu_options {
        background-color: #f7f5f5;
    }

    /* Main section */

    .main {
        display: flex;
        flex-wrap: wrap;
    }
    .card {
        flex: 2 50%;
    }


    /* Footer section */

    .contact {
        width: 55%;
        margin: auto;
    }

    .nav_right{
        display: none;
    } 

    .nav_option  {
        font-size: 2em;
    }

    .alternative {
        display: flex;
        margin-top: 0px;
        width: 60%;
    }

    .alternative li {
        background: #f7f5f5;
    }

}

/* 
================ Media Queries for desktops ================
*/

@media (min-width:1024px) {
    /* Top section */
    nav {
        display: flex;
        padding: 1em;
    }
    .nav_bar {
        margin-right: 1em;
    }
    .intro {
        width: 60%;
        padding: 0 1em;
    }

    header > img {
        width: 40%;
    }

    /* Main section */

    main {
        width: 97%;
        margin: auto;
    }
    .card {
        flex: 3 33%;
    }
}